@font-face {
    font-family: stackyard;
    src: url("../fonts/stackyard.ttf");
 }

 body {
    background: white;
 }

 .jumbotron {
    background: #b81816;
    color: white;
    text-align: center;
    margin-bottom: 0;
 }
 
 .stackyard-font {
    font-family: stackyard;
 }

 .arimo-font {
    font-family: 'Arimo', sans-serif;
 }

 .red-font {
    color: #b81816;
 }

 .green-font {
    color: #36562d;
 }

 .blue-font {
    color: #023462;
 }

 .white-font {
     color: white;
 }

 .background-pattern {
    background: url("../images/christmas-colour.png");
 }

 .background-green {
    background: #36562d;
    color: white;
    margin: 20px 0px;
 }

 .background-red {
    background: #b81816;
 }

