@font-face {
    font-family: stackyard;
    src: url("../fonts/stackyard.ttf");
 }

 .jumbotron {
    background: #cb4a4c;
    color: white;
    text-align: center;
    margin-bottom: 0.2rem;
 }

 .row {
     margin: 0;
 }

 h1 {
     font-size: 3.5rem;
 }
 
 .stackyard-font {
    font-family: stackyard;
 }

 .arimo-font {
    font-family: 'Arimo', sans-serif;
 }

 .red-font {
    color: #b81816;
 }

 .green-font {
    color: #36562d;
 }

 .blue-font {
    color: #023462;
 }

 .white-font {
     color: white;
 }

 .background-pattern {
    background: url("../images/christmas-colour.png");
    padding: 1rem 1rem;
 }

 .background-green {
    background: #4d714b;
    color: white;
    padding: 1rem 1rem;
 }

 .background-red {
    background: #b81816;
 }

#huck-header {
    margin-bottom: 1rem;
}

.huck-photo {
    margin-top: 15px;
    margin-bottom: 20px;
}

.songs-header {
    margin-top: .5rem;
}

footer {
    background: #cb4a4c;
}

#footer-text {
    margin-bottom: 0;
}